.ShowTicketTop {
    width: 100%;
    padding: 10px 4px;
    display: flex;
    align-items: center;
    gap: 24px;
    background: url('/titles_bg_uts.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ticket {
    position: relative;
    top: "1rem";
    background-image: url(/booked_stamp_uts.png);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardBody .top {
    width: 105%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    margin-bottom: 0.7rem;
}

.cardBody .ticketTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('/titles_bg_uts.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 8px 12px;
}

.cardBody .ticketBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px 12px;
}

.cardBody .horLine {
    height: 2rem;
    margin: -7px;
    width: 1px;
    background-color: #e7e1e1;
    z-index: 10;
}

.ticketNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem;
}

.ticketBody {
    background-color: yellow;
    width: 94%;
    margin: auto;
    height: fit-content;
    padding: 0.6rem 1rem;
    margin-top: -10px;
    border-radius: 5px;
}

.ticketBody .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticketBody .second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticketBody .first h4 {
    width: 58%;
    background-color: rgb(95, 6, 95);
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 0.4rem;
}

.ticketLine {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 8px 0;
}

.S-D_tag {
    width: 19px;
    height: 19px;
    background-color: rgb(95, 6, 95);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticketButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
}