.cardContainer {
    width: 100vw;
}

.platForm {
    width: 100%;
    margin-top: -5px;
}

.cardContainer .cardBody .disclamer {
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 0%;
    list-style: none;
}