.navContainer {
    width: 100%;
    background-image: url(/titles_bg_uts.png);
    object-fit:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    margin-top: -5px;
    position: sticky;
    top: -5px;
    z-index: 20;
}

.navContainer .left .containt {
    color: #fff;
    font-family: 'moon', sans-serif;
    line-height: 18px;
}
.navContainer .left .containt p{
    font-size: 20px;
    font-family: 'roboto_m', sans-serif;
}

.navContainer .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.navContainer .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.navContainer .left .containt h4 {
    font-weight: bold;
}

.navContainer .left .containt p {
    font-size: 10px;
}

.navContainer .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
}

.navContainer .menu span {
    font-size: 25px;
    font-weight: bold;
    line-height: 6px;
}
