.topSectionContainer .row {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 4px;
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
}

.topSectionContainer .row p {
    color: #fd5948 !important;
    margin: 5px;
    font-family: roboto_m;
}

.topSectionContainer .row .payment {
    filter: invert(10) !important;
}