.loginfooter {
    background-color: #ff6f00;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    padding: 8px 15px;
    position: sticky;
    bottom: 0;
    width: 90%;
    border-radius: 30px 30px 0 0;
    height: 8vh;
}

.loginfooter .doc,
.loginfooter .helpline,
.loginfooter .faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 30%;
}

.loginfooter p {
    font-size: 0.7rem;
    text-decoration: none;
    color: #fff;
}

.loginfooter .line {
    height: 100% !important;
    width: 1px;
    background-color: #fff;
}
