* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto_m";
}

.top {
    background: url('/titles_bg_uts.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 10px 15px;
    color: #fff;
}

.cardBody {
    margin: auto;
    width: 95%;
    height: fit-content;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}